<template>
    <div class="border border-slate-200 dark:border-slate-600 rounded-md p-4 shadow-sm dark:text-slate-200 dark:shadow-slate-400">
        <div class="text-slate-500 font-medium">
            <slot name="header"></slot>
        </div>
        <slot></slot>
    </div>
</template>