<template>
    <div>
        <span class="font-bold">{{ listing.bedrooms }}</span> beds 
        <span class="text-slate-400"> | </span>
        <span class="font-bold">{{ listing.baths }}</span> baths 
        <span class="text-slate-400"> | </span>
        <span class="font-bold">{{ listing.area }}</span> sqft 
    </div>
</template>

<script setup>
    defineProps({
        listing: {
            type: Object,
            required: true
        }
    })
</script>