<template>
    <div class="flex gap-1 mb-[50px]">
        <Link
            v-for="(link, index) in links" 
            :key="index" class="px-4 py-2 rounded-md text-slate-700 dark:text-slate-200" 
            :href="link.url ?? '#'" 
            :class="{'bg-purple-500 dark:bg-purple-800 text-slate-200': link.active}"
            v-html="link.label"
        />
    </div>
</template>
  
<script setup>
    import {Link} from '@inertiajs/vue3'
    defineProps({links: Array})
</script>