<template>
    <form>
        <div class="flex flex-wrap gap-4 my-4">
            <div class="flex items-center gap-2 flex-nowrap">
                <input 
                    id="deleted" 
                    v-model="filterForm.deleted" 
                    type="checkbox" 
                    class="w-4 h-4 text-purple-600 rounded border-slate-300 focus:ring-purple-500"
                />
                <label for="deleted" class="label">Deleted</label>
            </div>
            
            <div class="flex items-center flex-nowrap">
                <select name="" id="" class="w-24 input-filter-l" v-model="filterForm.by">
                    <option value="created_at">Added</option>
                    <option value="price">Price</option>
                </select>
                <select name="" id="" class="w-32 input-filter-r" v-model="filterForm.order">
                    <option v-for="option in sortOptions" :key="option.value" :value="option.value">
                        {{ option.label }}
                    </option>  
                </select>
            </div>
        </div>
    </form>
</template>

<script setup>
import { reactive, watch, computed } from 'vue'
import { router } from '@inertiajs/vue3'
import { debounce } from 'lodash'

const props = defineProps({
    filters: Object
})

const filterForm = reactive({
    deleted: props.filters.deleted ?? false,
    by: props.filters.by ?? 'created_at',
    order: props.filters.order ?? 'desc'
})

const sortLabels = {
    created_at: [
        {
            label: 'Latest',
            value: 'desc'
        },
        {
            label: 'Oldest',
            value: 'asc'
        }
    ],
    price: [
        {
            label: 'Highest',
            value: 'desc'
        },
        {
            label: 'Lowest',
            value: 'asc'
        }
    ]
};

const sortOptions = computed( () => {
    return sortLabels[filterForm.by]
} )


watch( 
    filterForm,
    debounce( () => router.get(
        route('realtor.listing.index'),
        filterForm,
        { preserveState: true, preserveScroll: true }
    ), 1000))
</script>