<template>
    <Filters :filters="filters"/>
    <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-10 gap-y-[3rem]">
        <Listing v-for="listing in listings.data" :key="listing.id" :listing="listing" />
    </section>

    <section v-if="listings.data.length" class="flex justify-center w-full mt-8 mb-8">
        <Pagination :links="listings.links" />
    </section>
</template>

<script setup>
    import Listing from '@/Pages/Listing/Index/Components/Listing.vue'
    import Filters from '@/Pages/Listing/Index/Components/Filters.vue';
    import Pagination from '@/Components/UI/Pagination.vue'
    
    defineProps({
        listings: {
            type: Object,
            required: true
        },
        filters: Object
    })
</script>