<template>
    <div class="grid grid-cols-12 gap-x-10 gap-y-6">
        <Box class="flex items-center w-full col-span-12 md:col-span-7">
            <div class="w-full font-medium text-center text-slate-500">
                <div v-if="!listing.images">No images</div>
                <div v-if="listing.images">
                    <img :src="listing.images[0].src" />
                </div>
                
                <div v-if="listing.images" class="flex w-full gap-1 mt-5">
                    <img width="50" height="50" class="object-cover" :src="image.src" v-for="image in listing.images" />
                </div>
            </div>
        </Box>
        <div class="flex flex-col col-span-12 gap-4 md:col-span-5">
            <Box class="">
                <template #header>
                    Details
                </template>
                <ListingSpace :listing="listing" class="text-lg text-purple-700" />
                <ListingAddress :listing="listing" class="text-slate-500" />
                <Price :price="listing.price" class="text-lg font-bold text-slate-500" />
            </Box>
            <Box>
                <template #header>
                    Monthly Payment
                    <div>
                        <label class="label">Interest rate ({{ interestRate }}%)</label>
                        <input v-model="interestRate" type="range" class="w-full h-4 rounded-md appearance-none cursor-pointer bg-slate-200 dark:bg-slate-600 " min="0.1" max="20" step="0.1" />
                        
                        <label class="label">Duration rate ({{ duration }} years)</label>
                        <input v-model.number="duration" type="range" class="w-full h-4 rounded-md appearance-none cursor-pointer bg-slate-200 dark:bg-slate-600 " min="1" max="30" step="1" />

                        <div class="mt-2 text-slate-600 dark:text-slate-300">
                            <div class="text-slate-500 dark:text-slate-300">Your monthly repayment: </div>
                            <Price :price="monthlyPayment" class="text-lg text-purple-700" />
                        </div>
                        <div class="flex justify-between">

                            <div class="mt-2 text-slate-600 dark:text-slate-300">
                                <div class="text-slate-500 dark:text-slate-300">Total payment: </div>
                                <Price :price="totalPayment" class="text-slate-500 text-md" />
                            </div>
                            <div class="mt-2 text-slate-600 dark:text-slate-300">
                                <div class="text-slate-500 dark:text-slate-300">Total interest: </div>
                                <Price :price="totalInterest" class="text-slate-500 text-md" />
                            </div>
                        </div>
                    </div>
                </template>
            </Box>
            <MakeOffer 
                v-if="user"
                :listing-id="listing.id"
                :price="listing.price"
                
            />
        </div>
    </div>
</template>

<script setup>
import ListingAddress from '@/Components/ListingAddress.vue'
import ListingSpace from '@/Components/UI/ListingSpace.vue';
import Price from '@/Components/UI/Price.vue';
import MakeOffer from '@/Pages/Listing/Show/Components/MakeOffer.vue';
import Box from '@/Components/UI/Box.vue';
import { computed } from 'vue';
import { usePage } from '@inertiajs/vue3'; 

import { ref } from 'vue'

import { useMonthlyPayment } from '@/Composables/useMonthlyPayment.js'

const interestRate = ref(5)
const duration = ref(25)

const props = defineProps({
    listing: {
        type: Object,
        required: true
    }
})

const page = usePage()
const user = computed(
  () => page.props.user,
)

const { monthlyPayment, totalPayment, totalInterest } = useMonthlyPayment(props.listing.price, interestRate, duration)

</script>