<template>
    <div class="container-sm">
        <h1 class="title">Create Account</h1>
        <form @submit.prevent="register">
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-6">
                    <label class="label" for="name">Name</label>
                    <input class="input" id="name" name="name" type="text" v-model="form.name" />
                    <div class="input-error" v-if="form.errors.name">{{ form.errors.name }}</div>
                </div>
                <div class="col-span-6">
                    <label class="label" for="email">Email</label>
                    <input class="input" type="text" id="email" name="email" v-model="form.email" />
                    <div class="input-error" v-if="form.errors.email">{{ form.errors.email }}</div>
                </div>
                <div class="col-span-6">
                    <label class="label" for="password">Password</label>
                    <input class="input" type="password" v-model="form.password" id="password" name="password" />
                    <div class="input-error" v-if="form.errors.password">{{ form.errors.password }}</div>
                </div>
                <div class="col-span-6">
                    <label class="label" for="password_confirmation">Password Confirmation</label>
                    <input class="input" id="password_confirmation" name="password_confirmation" type="password" v-model="form.password_confirmation" />
                </div>
                <div class="col-span-12 mt-5">
                    <button class="w-full btn-primary" type="submit">Create account</button>
                </div>
                <div class="col-span-12 mt-5">
                    <Link class="block w-full text-center text-slate-500" :href="route('login')">Login</Link>
                </div>
                
            </div>
        </form>
    </div>
</template>

<script setup>
    import { useForm, Link } from '@inertiajs/vue3';

    const form = useForm({
        name: null,
        email: null,
        password: null,
        password_confirmation: null
    })

    const register = () => form.post(route('user-account.store'))
</script>