<template>
    <Box>
        <Link :href="route('listing.show', listing.id)">
            <ListingSpace :listing="listing" class="text-lg text-purple-700" />
            <ListingAddress :listing="listing" class="text-slate-500" />
            <div class="flex items-center gap-5">
                <Price :price="listing.price" class="text-lg font-bold text-slate-500" />
                <div class="text-sm text-slate-500"> 
                    <Price :price="monthlyPayment" /> / month
                </div>
            </div>
        </Link>
     
    </Box>
</template>

<script setup>
    import ListingAddress from '@/Components/ListingAddress.vue'
    import ListingSpace from '@/Components/UI/ListingSpace.vue'
    import Price from '@/Components/UI/Price.vue'
    import Box from '@/Components/UI/Box.vue'
    import {Link} from '@inertiajs/vue3'
    
    import { useMonthlyPayment } from '@/Composables/useMonthlyPayment.js'

    const props = defineProps({
        listing: {
            type: Object,
            required: true
        }
    })

    const { monthlyPayment } = useMonthlyPayment(props.listing.price, 5, 25)

</script>