<template>
  <form @submit.prevent="update">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-4">
        <label class="label">Beds</label>
        <input class="input" v-model.number="form.bedrooms" type="text" />
        <div class="input-error" v-if="form.errors.bedrooms">
          {{ form.errors.bedrooms }}
        </div>
      </div>

      <div class="col-span-4">
        <label class="label">Baths</label>
        <input class="input" v-model.number="form.baths" type="text" />
        <div class="input-error" v-if="form.errors.baths">
          {{ form.errors.baths }}
        </div>
      </div>

      <div class="col-span-4">
        <label class="label">Area</label>
        <input class="input" v-model.number="form.area" type="text" />
        <div class="input-error" v-if="form.errors.area">
          {{ form.errors.area }}
        </div>
      </div>

      <div class="col-span-8">
        <label class="label">City</label>
        <input class="input" v-model="form.city" type="text" />
        <div class="input-error" v-if="form.errors.city">
          {{ form.errors.city }}
        </div>
      </div>

      <div class="col-span-4">
        <label class="label">Post Code</label>
        <input class="input" v-model="form.code" type="text" />
        <div class="input-error" v-if="form.errors.code">
          {{ form.errors.code }}
        </div>
      </div>
      
      <div class="col-span-4">
        <label class="label">Street Number</label>
        <input class="input" v-model.number="form.street_number" type="text" />
        <div class="input-error" v-if="form.errors.street_number">
          {{ form.errors.street_number }}
        </div>
      </div>

      <div class="col-span-8">
        <label class="label">Street</label>
        <input class="input" v-model="form.street" type="text" />
        <div class="input-error" v-if="form.errors.street">
          {{ form.errors.street }}
        </div>
      </div>

      <div class="col-span-4">
        <label class="label">Price</label>
        <input class="input" v-model.number="form.price" type="text" />
        <div class="input-error" v-if="form.errors.price">
          {{ form.errors.price }}
        </div>
      </div>

      <div class="col-span-12">
        <button class="btn-primary" type="submit">Update</button>
      </div>
    </div>
  </form>
</template>
  
<script setup>
  import { useForm } from '@inertiajs/vue3'

  const props = defineProps({
      listing: {
          type: Object,
          required: true
      }
  })
  const form = useForm({
      bedrooms: props.listing.bedrooms,
      baths: props.listing.baths,
      area: props.listing.area,
      city: props.listing.city,
      street: props.listing.street,
      code: props.listing.code,
      street_number: props.listing.street_number,
      price: props.listing.price,
  })
  const update = () => form.put('realtor.listing.update', props.listing.id)
</script>
