<template>
    <h1 class="title">Your Listings</h1>
    <section>
        <RealtorFilter :filters="filters"/>
    </section>
    <section class="grid grid-cols-1 gap-2 lg:grid-cols-2" v-if="listings">
        <Box v-for="listing in listings.data" :key="listing.id" :listing="listing" :class="{'border-dashed': listing.deleted_at}">
            <div class="flex flex-col justify-between gap-2 md:flex-row md:items-center">
                <div :class="{'opacity-25': listing.deleted_at}">
                    <div class="items-center gap-2 xl:flex">
                        <Price :price="listing.price" class="text-2xl" />
                        <ListingSpace :listing="listing" />
                    </div>
                    
                    <ListingAddress :listing="listing" />
                </div>
                <div>
                    <div class="flex items-center gap-1 text-gray-600 dark:text-slate-300">
                        <a :href="route('listing.show', listing.id)" target="_blank" class="btn-outline">Preview</a>
                        <Link :href="route('realtor.listing.edit', listing.id)" class="btn-outline">Edit</Link>
                        <Link v-if="!listing.deleted_at" :href="route('realtor.listing.destroy', listing.id)" method="delete" as="button" class="btn-outline">Delete</Link>
                        <Link v-if="listing.deleted_at" :href="route('realtor.listing.restore', listing.id)" method="put" as="button" class="btn-outline">Restore</Link>
                    </div>
                    <div class="mt-2">
                        <Link :href="route('realtor.listing.image.create', { listing: listing.id })" class="block w-full text-center btn-outline">Images ({{ listing.images_count }})</Link>
                    </div>
                </div>
            </div>
        </Box>
    </section>
    <section class="flex justify-center mt-5" v-if="listings.data.length">
        <Pagination :links="listings.links" />
    </section>
</template>

<script setup>
import ListingAddress from '@/Components/ListingAddress.vue';
import RealtorFilter from '@/Pages/Realtor/Index/Components/RealtorFilter.vue';
import Box from '@/Components/UI/Box.vue';
import ListingSpace from '@/Components/UI/ListingSpace.vue';
import Price from '@/Components/UI/Price.vue';
import { Link } from '@inertiajs/vue3';
import Pagination from '@/Components/UI/Pagination.vue';

    defineProps({
        listings: Object,
        filters: Object
    })

</script>