@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .label {
    @apply block mb-1 text-slate-500 dark:text-slate-300;
  }
  .input {
    @apply block w-full p-2 rounded-md shadow-sm border-slate-300 dark:border-slate-500 text-slate-500
  }
  .btn-primary {
    @apply px-5 py-2 bg-purple-700 rounded-md shadow-md text-slate-200 hover:bg-purple-800 hover:text-slate-100;
  }
  .btn-secondary {
    @apply px-5 py-2 bg-purple-300 rounded-md shadow-md dark:bg-purple-900 dark:text-slate-50 text-slate-700 hover:bg-purple-800 hover:text-slate-100;
  }
  .input-error {
    @apply border-red-500 dark:text-red-400;
  }
  .container-sm {
    @apply w-1/2 mx-auto;
  }
  .title {
    @apply mb-5 text-xl dark:text-slate-300 text-slate-700;
  }
  .input-filter-l {
    @apply placeholder:text-gray-400 dark:placeholder:text-gray-600 border border-gray-200 dark:border-gray-700 rounded-t-md rounded-l-md rounded-b-md rounded-r-none text-sm font-medium text-gray-600 dark:text-gray-400 dark:bg-gray-800
  }

  .input-filter-r {
    @apply placeholder:text-gray-400 dark:placeholder:text-gray-600 border border-l-0 border-gray-200 dark:border-gray-700 rounded-t-md rounded-l-none rounded-b-none rounded-r-md text-sm font-medium text-gray-600 dark:text-gray-400 dark:bg-gray-800
  }

  .btn-normal {
    @apply bg-gray-600 hover:bg-gray-500 text-white font-medium p-2 rounded-md
  }

  .btn-outline {
    @apply p-2 rounded-md border border-slate-700 dark:border-slate-200 text-slate-600 dark:text-slate-300 hover:bg-slate-600 hover:text-white dark:hover:text-slate-100
  }
}