<template>
    <div>
        {{ listing.street_number }} {{ listing.street }}, {{ listing.city }}
    </div>
</template>

<script setup>
    defineProps({
        listing: {
            type: Object,
            required: true
        }
    })
</script>