<template>
    <Box>
        <template #header>Upload New Images</template>
        <form @submit.prevent="upload" class="flex items-center gap-5 my-2">
            <div class="form-group">
                <input 
                class="border rounded-md file:px-4 file:py-2 border-slate-200 dark:border-slate-700 file:text-slate-700 file:dark:text-slate-200 file:border-0 file:bg-slate-200 file:dark:bg-slate-500 file:font-medium file:hover:bg-slate-300 file:dark:hover:bg-slate-600 file:cursor-pointer file:mr-4" 
                type="file" id="images" multiple @input="addFiles"/>
            </div>
            <div class="flex gap-5"> 
                <button type="submit" class="btn btn-primary disabled:opacity-25 disabled:cursor-not-allowed" :disabled="canUpload">Upload</button>
                <button type="reset" @click="reset" class="btn btn-secondary disabled:opacity-25 disabled:cursor-not-allowed" :disabled="canReset">Reset</button>
            </div>
        </form>
        <div v-if="imageErrors.length" class="">
            <div v-for="error in imageErrors" class="input-error">
                {{ error }}
            </div>
        </div>
    </Box>
    <Box v-if="props.listing.images.length" class="mt-5">
        <template #header>Current Listing Images</template>
        <section class="grid grid-cols-3 gap-4 mt-4">
            <div v-for="image in props.listing.images" :key="image.id" class="relative">
                <img :src="image.src" class="object-cover w-full h-40 rounded-md" />
                <button @click="remove(image)" class="absolute top-0 right-0 text-white bg-red-500 rounded-full hover:bg-red-600">
                    <svg height="24" width="24" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path fill="currentColor" d="m12.002 2.005c5.518 0 9.998 4.48 9.998 9.997 0 5.518-4.48 9.998-9.998 9.998-5.517 0-9.997-4.48-9.997-9.998 0-5.517 4.48-9.997 9.997-9.997zm0 1.5c-4.69 0-8.497 3.807-8.497 8.497s3.807 8.498 8.497 8.498 8.498-3.808 8.498-8.498-3.808-8.497-8.498-8.497zm0 7.425 2.717-2.718c.146-.146.339-.219.531-.219.404 0 .75.325.75.75 0 .193-.073.384-.219.531l-2.717 2.717 2.727 2.728c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.384-.073-.53-.219l-2.729-2.728-2.728 2.728c-.146.146-.338.219-.53.219-.401 0-.751-.323-.751-.75 0-.192.073-.384.22-.531l2.728-2.728-2.722-2.722c-.146-.147-.219-.338-.219-.531 0-.425.346-.749.75-.749.192 0 .385.073.531.219z" fill-rule="nonzero"/>
                    </svg>
                </button>
            </div>
        </section>
    </Box>
</template>

<script setup>
import Box from '@/Components/UI/Box.vue';
import { useForm } from '@inertiajs/vue3';
import { computed } from 'vue';
import NProgress from 'nprogress'
import { router } from '@inertiajs/vue3'

router.on('progress', (event) => {
  if (event.detail.progress.percentage) {
    NProgress.set((event.detail.progress.percentage / 100) * 0.9)
  }
})

const props = defineProps({
    listing: Object,
});

const form = useForm({
    images: []
});

const imageErrors = computed(() => {
    return form.errors ? Object.values(form.errors) : null;
});

const upload = () => form.post( 
    route('realtor.listing.image.store', { listing: props.listing.id }),
    {
        preserveScroll: true,
        onSuccess: () => {
            form.reset('images');
        }
    }
);

const canUpload = computed(() => {
    return form.processing || !form.images.length;
});

const canReset = computed(() => {
    return form.processing || !form.images.length;
});

const addFiles = e => {
    for (const image of e.target.files) {
        form.images.push(image);
    }
}

const reset = () => {
    form.reset('images');
}

const remove = e => {
    router.delete(route('realtor.listing.image.destroy', { image: e.id }), {
        preserveScroll: true,
        onSuccess: () => {
            form.reset('images');
        }
    });
}
</script>