<template>
    <Box>
        <template #header>Make an offer</template>
        <form @submit.prevent="makeOffer">
            <label for="amount">Deposit</label>
            <input v-model.number="form.amount" type="text" class="input" />
            <input 
                type="range" 
                name="amount" 
                v-model.number="form.amount"  
                step="10000"
                :max="max" 
                :min="min"
                class="w-full h-4 mt-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
            >
            <button type="submit">Make Offer</button>
            {{ form.errors.amount }}
        </form>
        <div class="flex justify-between mt-2 text-gray-500">
            <div>Difference</div>
            <div>
                <Price :price="difference" />
            </div>
        </div>
    </Box>
</template>

<script setup>
import Box from '@/Components/UI/Box.vue';
import Price from '@/Components/UI/Price.vue';
import { useForm } from '@inertiajs/vue3';
import { computed } from 'vue';

const props = defineProps({
    listingId: Number, 
    price: Number
})

const form = useForm({
    amount: props.price,
})

const makeOffer = () => form.post(
    route('listing.offer.store', props.listingId),
    {
        preserveScroll: true,
        preserveState: true,
    } 
)


const difference = computed(() => form.amount - props.price)
const min = computed(() => Math.round( props.price / 2 ))
const max = computed(() => Math.round( props.price * 2 ))
</script>