<template>
    <Link href="/hello">Show</Link>
    <div>Index</div>
    <div>
        Welcome {{ name }}
    </div>
</template>

<script setup>
    import {Link} from '@inertiajs/vue3'
    defineProps(['name'])
</script>
