<template>
    <header class="w-full border-b border-gray-200 dark:border-gray-700 bg-slate-100 dark:bg-gray-800">
        <div class="container mx-auto">
            <nav class="flex items-center justify-between p-4">
                <div class="dark:text-slate-50 text-slate-950">Laravel 8 Inertia JS CRUD</div>
                <div class="flex gap-5">
                    <Link class="dark:text-slate-50 text-slate-950" :href="route('listing.index')">Listings</Link>
                    <Link class="dark:text-slate-50 text-slate-950" v-if="user" :href="route('realtor.listing.create')">Create Listing</Link>
                </div>
                <div v-if="user" class="flex items-center gap-5">
                    <Link :href="route('realtor.listing.index')" class="text-slate-700 dark:text-slate-300">Hi {{ user.name }}</Link>
                    <Link :href="route('logout')" method="delete" class="btn-secondary" as="button">logout</Link>
                </div>
                <div v-if="!user" class="flex gap-5">
                    <Link class="btn-primary" :href="route('login')">login</Link>
                    <Link class="btn-secondary" :href="route('user-account.create')">Register</Link>
                </div>
            </nav>
        </div>
    </header>
    <div v-if="flashSuccess" class="w-full success">
        <div class="container mx-auto">
            {{ flashSuccess }}
        </div>
    </div>
            
    <div class="container mx-auto my-[4.5rem] text-slate-700 dark:text-slate-300">
        <slot></slot>
    </div>
  
</template>

<script setup>
    import { Link, usePage } from '@inertiajs/vue3'
    import { computed } from 'vue'

    const page = usePage()
    const flashSuccess = computed(
        () => page.props.flash.success
    )
    const user = computed(
        () => page.props.user
    )

</script>

<style scoped>
    .success {
        background-color: green;
        color: white;
        padding: 1rem;
        margin-bottom: 1rem;
    }
</style>