<template>
    <div class="container-sm">
        <h1 class="title">Login</h1>
        <form @submit.prevent="login">
            <div>
                <label for="email" class="label">E-mail</label>
                <input id="email" v-model="form.email" type="text" class="input" />
                <div v-if="form.errors.email" class="input-error">{{ form.errors.email }}</div>
            </div>
            <div class="mt-4">
                <label for="password" class="label">Password</label>
                <input id="password" v-model="form.password" type="password" class="input" />
                <div v-if="form.errors.password" class="input-error">{{ form.errors.password }}</div>
            </div>
            <div class="mt-4">
                <button class="w-full btn-primary" type="submit">Login</button>
            </div>
            <div class="mt-5">
                <Link class="block w-full text-center text-slate-500" :href="route('user-account.create')">Register</Link>
            </div>
        </form>
    </div>
</template>
  
<script setup>
    import { useForm, Link } from '@inertiajs/vue3'
    const form = useForm({
        email: null,
        password: null,
    })
    const login = () => form.post(route('login.store'))
    console.log(form)
    console.log(login)
</script>